@import '~bootstrap/scss/bootstrap.scss';
@import 'variables.scss';
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/titillium-web-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('../fonts/titillium-web-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v8-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/titillium-web-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
       url('../fonts/titillium-web-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v8-latin-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-900 - latin */
@font-face {
  font-family: 'Titillium Web Black';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/titillium-web-v8-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
       url('../fonts/titillium-web-v8-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v8-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v8-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v8-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v8-latin-900.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

body {
  background-color: $body-bg;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_logo {
  font-family: "Titillium Web Black",sans-serif;
}
.btn-primary {
  color:$button-primary-color;
  background-color: $button-primary-bg;
  border-color: $button-primary-bg;
  font-family: 'Titillium Web Bold';
  text-shadow: 3px 3px 2px rgba(0, 0, 36, 0.61);
}
.btn-primary:hover {
background-color: $button-primary-bg-hover;
border-color: $button-primary-bg-hover;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
header {
  background-color: $header-bg;
  text-align: center;
  .app_logo {
    font-size: $logo-font-size;
    color: $logo-color;
    padding: 20px 0px;
  }
}

.welcome-message {
  text-align: center;

  & .app_logo {
    color: $welcome-logo-color;
    font-size: 35px;
  }
  & p {
    color: $welcome-message;
    font-size: 24px;
    margin-bottom: 0px;
  }
}
.modal-content {

  background-color: $card-bg;
  color: $text-color;
  text-align: center;
  font-size: $text-size;
  & .modal-header {
    border: none;
  }
  & .modal-footer {
    border: none;
  }
}
.jumbotron {
  background-color: $card-bg;
  padding: 40px 40px;
  & p, h2 {
    color: $text-color;
    text-align: center;
  }
  & p {
    font-size: $text-size;
  } 
  & h2 {
    font-size: $question-size;
  }
  
}
.timer {
    & strong {
      font-size: $seconds_size_number;
      font-family: 'Titillium Web Black';
      line-height: $seconds_size_number;
    }
    margin-bottom: 40px;
    color: $text-color;
    text-align: center;
    font-size: $seconds_size;
  
}
.question_and_options {
  text-align: center;
  & h3 {
    margin: 20px 0px;
    color: $text-color;
    font-size: $text-size;
  }
  & p, h2 {
    color: $text-color;
    text-align: center;
  }
  & p {
    font-size: $text-size;
  } 
  & h2 {
    font-size: $question-size;
  }
  & .jumbotron .btn-primary {
    margin-bottom: 40px;
  }
  & .jumbotron {
   
    & h2 {
      margin-bottom: 40px;
    }
  }
}

.game {
  text-align: center;
}
.results {

  text-align: center;
  & .score {
    & strong {
        font-size: $seconds_size_number;
        font-family: 'Titillium Web Black';
        line-height: $seconds_size_number;
      }
      margin-bottom: 40px;
      color: $text-color;
      text-align: center;
      font-size: $seconds_size;
    
    & p, h2 {
      color: $text-color;
      text-align: center;
    }
    & p {
      font-size: $text-size;
    } 
    & h2 {
      font-size: $question-size;
    }
  }
  & .results_list {
    padding: 30px 0px;
    &  h3, h2 {
      color: $text-color;
      text-align: center;
    }
    & p {
      text-align: left;
      color: $text-color;
      font-size: 15px;
      padding: 4px 10px;

    }
    & .jumbotron {
      padding: 15px;
      & table {
        width: 100%;
      }
    }
  }

  & .btn-primary {
    font-size: 26px;
  }
  & .results_choices {
    border-bottom: 1px solid $text-color;
    padding: 20px 0px;
  }
}
.spinner-border.text-light  {
  width: 200px;
  height: 200px;
  margin: 50px;
}
.results .results_choices .mobile p {
  text-align: center;
}
.results .results_choices .desktop {
  display: none;
}

@media (min-width: 768px) {
  header {
    .app_logo {
      font-size: calc(#{$logo-font-size} + 10px)
    }
  }
  .timer {
    & strong {
      font-size: calc(#{$seconds_size_number}  + 20px);
      line-height: calc(#{$seconds_size_number}  + 20px);
    }
    font-size: calc(#{$seconds_size}  + 3px);
    }

  .question_and_options {
    & h2 {
      font-size: calc(#{$question-size}  + 10px);
    }
  }
  .results .results_choices .desktop {
    display: table-cell;
  }
  .results .results_choices .mobile {
    display: none;
  }
}


@media (min-width: 992px) {


}

@media (min-width: 1200px) {


}