$header-bg: #E4E4E4;
$body-bg: #46178F;
$logo-color: #46178F;
$logo-font-size: 25px;
$welcome-logo-color: #E4E4E4;
$welcome-message: #D09F36;
$card-bg: #1468CE;
$text-color: #FFF;
$text-size: 20px;
$question-size: 18px;
$seconds_size_number: 65px;
$seconds_size: 12px;
$button-primary-color: #FFF;
$button-primary-bg: #D09F36;
$button-primary-bg-hover: rgb(187, 143, 49);
$button-succes: #268916;
$button-danger: #E2243C